@media only screen and (max-width: 1023px){
    .services-container{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;
    }

    .services{
        width: 100vw;
        height: 90vh;  
        margin-top: 2%;
        margin-bottom: 2em;
        background-color: #222222;
        
    }

    .scroller{
        width: 300vw;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .service-card{
        width: 80vw;
        height: 90%;
        margin-left: 1em;
        border-radius: 5%;
        background-color: rgb(67, 67, 67);
        border-top: 5px solid #0d9a79;
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: -1px 2px 8px 4px rgba(31, 27, 27, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
    }

    .service-header-main{
        color: lightgray;
        font-size: larger;
        margin-top: 1em;
        height: 2em;
        margin-left: 1em;

    }

    hr{
        display: none;
    }

    .service-card-img{
        height: 50%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        filter: brightness(0) invert(0.8);
        align-items: flex-start;
    }
    
    .service-header{
        color: rgb(223, 222, 222);
        font-size: x-large;
        
    }

    .service-btn-cta{
        width: 50vw;
        height: 7vh;
        margin-top: 2em;
        background-color: #303030;
        border: 2px solid white;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 0;
    }

    .service-btn-cta:hover{
        border: 2px solid rgb(223, 138, 148);
       color: rgb(223, 138, 148);
    }

    .service-para{
        color: rgba(201, 200, 200, 0.681);
        text-align: center;
        width: 70%;
        margin-top: 1em;
        font-size: small;
        height: 4em;
    }

    .service-header-main{
        color: rgb(204, 204, 204);
        font-size: large;
        margin-top: 1em;
        height: 2em;
        text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.096);
    }


}

@media only screen and (min-width: 1024px){
    .services-container{
        height: 100vh;
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services{
        height: 80vh;
        width: 100%;
    }

    .scroller{
        width: 100%;
        height: 92%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        box-sizing: border-box;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 2%;
        overflow-y: hidden;
    }

    .service-card{
        width: 92%;
        height: 90%;
        border-radius: 5%;
        background-color: rgb(109, 104, 104);
        background-color: rgb(67, 67, 67);
        border-top: 5px solid #0d9a79;
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: -1px 2px 8px 4px rgba(31, 27, 27, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .extra{

    }

    .service-header{
        color: rgb(223, 222, 222);
        font-size: x-large;
        
    }

    .service-btn-cta{
        margin-top: 2em;
        width: 10vw;
        height: 5vh;
        border: 2px solid white;
        color: white;
        text-align: center;
        padding-top: 1vh;
        border-radius: 5%;
    }

    .service-btn-cta:hover{
        border: 2px solid rgb(44, 218, 154);
       color: rgb(44, 218, 154);
    }

    .service-para{
        color: rgba(201, 200, 200, 0.681);
        text-align: center;
        width: 70%;
        margin-top: 1em;
        font-size: small;
    }

    .service-header-main{
        color: rgb(233, 233, 233);
        font-size: xx-large;
        margin-top: 2em;
        height: 2em;
        text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.096);
    }

    .header-divider{
        color: rgb(192, 187, 187);
        height: 2px;
        width: 80%;
    }

    .service-card-img{
        height: 60%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        filter: brightness(0) invert(0.8);
        align-items: flex-start;
    }

   
}