@media only screen and (max-width: 1023px){
    .faq{
        height: 30vh;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: -1px 2px 8px 4px rgba(31, 27, 27, 0.2);
        display: flex;
        flex-direction: column;
        background-color: wheat;
    }
        

    .faq-wrapper-r{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        height: 15vh;
        background-color: #747171;
        font-size: smaller;
    }
 
    .faq-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        height: 15vh;
        background-color: #616060;
    }

    .faq-header-r{
        font-size: small;
        margin-left: 2em;
        width: 80%;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.402);
    }
    .faq-header{
        font-size: medium;
        margin-left: 2em;
        width: 80%;
        color: rgba(255, 255, 255, 0.673);
    }
    .faq-img{
        margin-left: 1em;
        filter: brightness(0) invert(1);
    }
    
    .faq-img-r{
        margin-left: 1em;
        filter: brightness(0) invert(1);
    }
}

@media only screen and (min-width: 1024px){
   .faq{
       height: 20vh;
       width: 60%;
  
       margin-left: 20%;
       box-sizing: border-box;
       overflow: hidden;
       box-shadow: -1px 2px 8px 4px rgba(31, 27, 27, 0.2);
       display: flex;
       flex-direction: column;
   }

   .faq-container{
       padding-bottom: 3em;
   }

   .faq-wrapper{
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: left;
       height: 12vh;
       background-color: #616060;
   }

   .faq-wrapper-r{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 12vh;
    background-color: #747171;
    font-size: smaller;
}

.faq-header-r{
    font-size: small;
    margin-left: 2em;
    width: 80%;
    color: rgb(241, 239, 239);
    font-weight: 300;
}
.faq-header{
    font-size: medium;
    color: white;
    margin-left: 2em;
    width: 80%;
}

.faq-img{
    margin-left: 1em;
    filter: brightness(0) invert(1);
}

.faq-img-r{
    margin-left: 1em;
    filter: brightness(0) invert(1);
}
}