@media only screen and (max-width: 1023px){
    .mailing-wrapper{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding-left: 1em;
        padding-top: 4em;
  
        background-image: url('https://www.transparenttextures.com/patterns/dark-mosaic.png');
    }

    .field-row{
        width: 75vw;
        margin-top: 1em;
        display: flex  ;
        flex-direction: row;
        justify-content: left;
    }

    .mailing-header{
        color: rgb(230, 227, 227);
        font-size: x-large;
    }

    .field-row-sign-up{
        margin-top: 1em;

    }

    .input-sign-up{
        margin-top: 1em;
        width: 75vw;
    }

    .offer-mailing{
        width: 75vw;
        color: rgba(255, 255, 255, 0.674);
        margin-top: 1.5em;
    }

    .mailing-checkbox{
        width: 25px;
        height: 25px;
        background-color: #303030;
        border: 2px solid white;
        margin-left: 0%;
    }

    .mailing-notice{
        font-size: x-small;
        margin-left: 0.5em;
        color: rgba(255, 255, 255, 0.293);
    }

    .mailing-sign-up-btn{
        width: 50vw;
        height: 7vh;
        margin-top: 2em;
        background-color: #303030;
        border: 2px solid white;
        color: white;
    }

  
}

@media only screen and (min-width: 1024px){
    .mailing-wrapper{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 1em;
        color: rgba(255, 255, 255, 0.537);
        display: flex;
        flex-direction: row;
        padding-left: 3em;
        align-items: center;
        justify-content: center;
        background-image: url('https://www.transparenttextures.com/patterns/dark-mosaic.png');
    }

    .field-row{
        width: 25vw;

        display: flex  ;
        flex-direction: row;
        justify-content: left;
    }

    .mailing-header{
        color: rgb(230, 227, 227);
        font-size: xx-large;
        margin-right: 1em;
    }

    .field-row-sign-up{

        width: 22vw;
    }

    .offer-mailing{
        width: 25vw;
        margin-top: 1em;
    }

    .mailing-checkbox{
        width: 25px;
        height: 25px;
        background-color: #303030;
        border: 2px solid white;
        margin-left: 0%;
    }

    .mailing-notice{
        font-size: x-small;
        margin-left: 0.5em;
    }

    .mailing-sign-up-btn{
        width: 15vw;
        height: 5vh;
        margin-top: 2em;
        background-color: #303030;
        border: 2px solid white;
        color: white;
    }

    .mailing-sign-up-btn:hover{
        width: 15vw;
        height: 5vh;
        margin-top: 2em;
        background-color: #3d3c3c;
        border: 2px solid rgb(189, 171, 171);
        color: white;
    }
}