@media only screen and (max-width: 1023px){
    .cta-btn{
        margin-top: 1.3em;
        height: 7vh;
        width: 50vw;
        margin-left: 25vw;
        border-radius: 50px;
        background-color: #292828;
        border: 3px solid #eb3340 ;
        color:  #eb3340;
        box-shadow: -1px 2px 8px 4px rgba(31, 27, 27, 0.088);
        font-weight: 800;
        font-size: medium;
    }

    .cta-btn-inv{
        background-color: #eb3340;
        
        color:  #292828;
        margin-top: 1.3em;
        height: 7vh;
        width: 50vw;
        margin-left: 25vw;
        border-radius: 50px;
        border: none;
    }

}

@media only screen and (min-width: 1024px){
    .cta-btn{
        width: 15vw;
        height: 6vh;
        margin-top: 1em;
        background-color: rgb(36, 26, 26);
        color: white;
        border: 2px solid white;
        border-radius: 50px;
    }

    .cta-btn-inv{
        width: 15vw;
        height: 6vh;
        margin-top: 1em;
        background-color: white;
        border: 2px solid white;
        border-radius: 50px;
    }
}