
@media only screen and (max-width: 1023px){
    .skill-display-wrapper{
        height: 100%;
        width: 100%;

        display: grid;
        box-sizing: border-box;
        grid-template-rows: 30% 70%;

    }

    .skill-display{
        grid-row: 1;
        height: 100%;
        width: 100%;
        
        background-image: url("https://i.imgur.com/WBMktag.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #303030;
    }

    .skill-into{
        height: 100%;
        width: 100%;
        background-color: #303030;
        opacity: 0.8;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .skill-img{
        height: 15vh;
    }

    .skill-examples{
        background-color: #303030;   
    }

  

 
}

@media only screen and (min-width: 1024px){
    
}