@media only screen and (max-width: 1023px){
    .card-wrapper{
        height: 94vh;
        width: 100%;
        background-color: #292828;
        
    }

    .intro-img{
        width: 100vw;
        height: 30%;
        background-image: url("https://i.imgur.com/Wa26fRG.jpg?1");
        background-size: cover;
        
    }
  

    .btn-container{
        height: 40%;
        margin-top: 1em;
        width: 70%;
        margin-left: 15%;
    }

  
    .skill-wrapper{
        height: 95vh;
        width: 100%;
        
    }

    .mini-c{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        height: 80%;
        margin-top: 10%;
        background-color: #454444;
        box-shadow: -1px 2px 8px 4px rgba(31, 27, 27, 0.2);
        border-radius: 10%;
    }

    .mini-title{
        color: rgba(255, 255, 255, 0.707); 
        font-weight: 300;
        font-size: x-small;
        margin-top: 5%;
    }

    .mini-img{
        width: 15vw;
        height: 15vw;
        filter: brightness(0) invert(0.8);
    }
    

    .card-wrapper-triple{
        height: 80%;
        grid-gap:1em;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);

        padding-bottom: 2em;
    }

    .passion-section{
        background-color: #292828;
        width: 100%;
        height: 23vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .passion-img{
        width: 18vw;
        height: 18vw;
        margin-left: 5%;
        filter: brightness(0) invert(0.8);
    }

    .passion-collection{
        width: 50vw;
        margin-right: 10%;
    }

    .skill-grid{
        height: 85%;
        width: 100%;
        margin-top: 1em;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        background-color: #292828;
        padding: 2em;
    }

   

    .job-card-intro-wrapper{
        height: 100%;
        width: 100%;
        background-color: #292828;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .job-bottom{
        background-image: url('https://i.imgur.com/c2m9UhK.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

   .work-display-img{
       width: 100vw;
       height: 98.5%;
   }

   .work-para{
       margin-left: 1em;
       width: 90%;
       margin-top: 1em;
       font-weight: 300;
       color: white;
   }

   #desktop-only{
       display: none;
   }

   .mini-header-scroll{
       width: 60%;
        color: rgba(255, 255, 255, 0.144);
        font-size: xx-small;
        margin-left: 20%;
        margin-top: 10%;
        text-align: center;
    }

}

@media only screen and (min-width: 1024px){
   .card-wrapper{
    box-shadow: -1px 2px 8px 4px rgba(31, 27, 27, 0.2);
    width: 100%;
    height: 100%;
       background-color: #303030;
       display: grid;
       grid-template-columns: 70% 30%; 
    }

    .pic{
        border-radius: 0%;
        background-image: url("https://i.imgur.com/EQDATff.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .shout-out{
        position: absolute;
        bottom: 0%;
        color: rgba(245, 222, 179, 0.497);
        margin-bottom: 2.2em;
        margin-left: 3.5em;
    }

    .info{
        display: flex;
        flex-direction: column;
        padding-left: 5em;
        background: linear-gradient(135deg, rgb(47, 88, 75), rgb(31, 63, 53));
        height: 100%;
        width: 100%;
        background-color: rgb(31, 63, 53);
    }

    .mini-header-scroll{
        color: rgb(139, 139, 139);
        margin-top: 2em;
    }

    .card-wrapper-triple{
        height: 100vh;
        width: 80%;
        margin-left: 10%;
        box-sizing: border-box;
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .passion-section{
        height: 80vh;
        margin-top: 10vh;
        width: 90%;
        margin-left: 5%;
   
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: white;
        box-shadow: -1px 2px 8px 4px rgba(31, 27, 27, 0.1);

    }


    .skill-grid{
        height: 35vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 2em;
        background-color: #292828;
        padding: 2em;
    }

    .mini-c{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        height: 80%;
        margin-top: 10%;
        background-color:  rgb(31, 63, 53);
        box-shadow: -1px 2px 8px 4px rgba(31, 27, 27, 0.2);
        border-radius: 10%;
    }

    .mini-title{
        color: rgba(255, 255, 255, 0.707); 
        font-weight: 300;
        font-size: x-small;
        margin-top: 5%;
    }

    .mini-img{
        width: 5vw;
        height: 5vw;
        filter: brightness(0) invert(0.8);
    }
    

    .passion-desktop-img{
        height: 60%;
        width: 100%;
      
        background-size: cover;
    }


    .passion-collection{
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      
    }

    .passion-header{
        
    }

    .passion-para{
        color: rgba(0, 0, 0, 0.586);
        margin-top: 0.5em;
    }

    .passion-cta{
        margin-top: 1.5em;
        height: 5vh;
        width: 10vw;
        border: 3px solid rgb(31, 63, 53);
        background-color: white;
        color: rgb(31, 63, 53);
    }

    .passion-cta:hover{
        border: 3px solid #54976a ;
        background-color: rgb(218, 218, 218);
        color: rgb(31, 63, 53);
    }

    
    .card-wrapper-triple{
        height: 100vh;
        width: 80%;
        margin-left: 10%;
        box-sizing: border-box;
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .passion-section{
        height: 80vh;
        margin-top: 10vh;
        width: 90%;
        margin-left: 5%;
   
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: white;
        box-shadow: -1px 2px 8px 4px rgba(31, 27, 27, 0.1);

    }

    .test-talent-strip{
        height: 10vh;
        width: 90%;
        margin-top: 2em;
     
        display: flex;
        flex-direction: row;
    }
   
}



