
@media only screen and (max-width: 1023px){

    .link-sec{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #292828;
    }

    .link-continued{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 10em;
        background-color: #292828;
    }

    .links-scroller{
        width: 100%;
    }

    .circular-img-link{
        margin-top: 1em;
        height: 20vh;
        width: 20vh;
        border-radius: 50%;
        border: 5px solid #00000036; 
        background-image: url('https://i.imgur.com/JwszZNZ.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.8;
    }
    
    .link-header2{
        color: rgba(255, 255, 255, 0.724);
        text-align: center;
        margin-top: 0.5em;
    }
    
    .link-header{
        color: rgba(255, 255, 255, 0.511);
        margin-top: 0.5em;
        text-align: center;
    }
    
    #desktop-only{
        display: none;
    }
}

@media only screen and (min-width: 1024px){
    .link-sec{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .link-continued{
        width: 80%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .link-header2{
        margin-top: 2em;
        font-size: x-large;
        text-align: center;
    }

    .link-header{
        margin-top: 1.5em;
        font-size: medium;
        color: rgba(0, 0, 0, 0.368);
        text-align: center;
    }

    .links-scroller{
        margin-top: 1em;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .link-continued{
        padding-bottom: 4em;
        width: 80%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .circular-img-link{
        height: 70vh;
        width: 100%;
        background-image: url('https://i.imgur.com/QsdJMKP.jpg?3');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}