@media only screen and (max-width: 1023px){
    .media-section{
        margin-top: 10%;
        height: 90%;
        width: 100%;
        background-color:#292828;
        box-sizing: border-box;
        padding: 1em;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .media-talk{
        border-bottom: 2px solid #1efeff;
    }

    .media-icons{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    .media-icon{
        height: 10vh;
     
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .link-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .media-sec-header{
        margin-top: 1em;
        color: white;
        text-align: center;
    }
    .media-sec-para{
        margin-top: 1.5em;
        color: black;
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }

    .contact-info-card{
        background-color: #303030;
        height: 90%;
    }

    .contact-i-img{
        width: 100vw;
        height: 100%;
    }
}

@media only screen and (min-width: 1024px){
    .media-section{
        margin-top: 10%;
        height: 100%;
        width: 100%;
        background-color: #303030;
        box-sizing: border-box;
        padding: 1em;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .media-talk{
        
    }

    .media-icons{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .media-icon{
        height: 8vh;
        filter: brightness(0) invert(1);
     
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .media-sec-header{
        color: white;
        text-align: center;
    }
    
    .link-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-info-card{
        background-color: #303030;
        height: 90%;
    }

    .contact-i-img{
        width: 20vw;
        height: 100%;
        margin-left: 40vw;
    }
}