
@media only screen and (max-width: 1023px){
    .job-wrapper{
        height: 80%;
        width: 100vw;
        background-color: #292828;
        margin-top: 1em;
        
    }

    .scroller{
        height: 90%;
        margin-top: 1em;
        width: 250vw;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
    }

    .scroll{
        display: flex;
        flex-direction: row;
    }

    .job-card-wrapper{
        margin-top: 1em;
        width: 75vw;
        margin-left: 1em;
        background-color: rgb(216, 214, 214);
        display: grid;
        grid-template-rows: 80% 20%;
        box-shadow: -1px 2px 8px 4px rgba(31, 27, 27, 0.2);
    }
    
    .bottom-card{
        grid-row: 2;
        background-color: #202020;
        display: flex;
        align-items: center;
        justify-content:center;
    }

    .btn-job{
    
        height: 40%;
        width: 70%;
        border-radius: 50px;
        background-color:  #202020;
        border: 2px solid #bc1823 ;
        color: #bc1823;
       
    }

    .top-card{
        grid-row: 1;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

  
    a{
        height: 100%;
    }
 

    .top-c-para{
        font-size: medium;
        width: 90%;
        text-align: center;
       
        margin-top: 1em;
    }

  
    .top-header-title{
        color: #303030;
        text-align: center;
        font-size: x-large;
    }

    .circular-img{
        border-radius: 50%;
        height: 20vh;
        width: 20vh;
        margin-top: 1em;
    }
}

@media only screen and (min-width: 1024px){
    .scroller{
        display: flex;
        flex-direction: row;
        padding-bottom: 2em;
    }

    .job-card-wrapper{
        border: 2px solid #1efeff;
        width: 30%;
        height: 60vh;
        margin-left: 2%;
        background-color: #303030;
        margin-top: 1em;
        color: white;
        box-sizing: border-box;
        padding: 1em;
    }

    .skill-compilation{
        margin-top: 1em;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 32vh;
        grid-gap: 1em;
        width: 80%;
        margin-left: 10%;
    }

    .skill{
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skill-img-work{
        width: 3vw;
        height: 3vw;
        filter: brightness(0) invert(1);
    }
    .skill-t-t{
        margin-top: 0.5em;
        font-weight: 300;
    }

    .top-header-title{
        text-align: center;
        color: #1efeff;
    }

    .top-c-para{
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-top: 1em;
        font-weight: 200;
    }

    .btn-job{
        width: 40%;
        margin-left: 30%;
        margin-top: 1.2em;
        height: 5vh;
        border-radius: 50px;
        background-color: #303030;
        color: #1efeff;
        border: 3px solid #1efeff;
    }

    .top-card{
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }

    .circular-img{
        height: 15vh;
        width: 15vh;
        margin-left: 37%;
        margin-top: 2em;
        border-radius: 50%;
    }
}