
@media only screen and (max-width: 1023px){
    .job-wrapper{
        height: 100vh;
        width: 100vw;
        background-color: #292828;
        margin-top: 1em;
        
    }

    .scroller{
        height: 90%;
        margin-top: 1em;
        width: 250vw;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
    }

    .scroll{
        display: flex;
        flex-direction: row;
    }

    .job-card-wrapper{
        margin-top: 1em;
        width: 85vw;
        margin-left: 1em;
        background-color: rgb(216, 214, 214);
        display: grid;
        grid-template-rows: 82% 18%;
        box-shadow: -1px 2px 8px 4px rgba(31, 27, 27, 0.2);
    }
    
    .bottom-card{
        grid-row: 2;
        background-color: #202020;
        display: flex;
        align-items: center;
        justify-content:space-around;
    }

    .btn-job{
    
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color:  #303030;
        border: 2px solid #54976a ;
        color: #54976a;
       
    }

    .btn-job:hover{
    
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color:  #202020;
        border: 2px solid #54976a ;
        color: #54976a;
       
    }

    .top-card{
        grid-row: 1;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background-size: contain;
        background-repeat: no-repeat;
    }

  
    a{
        height: 100%;
    }
 

    .top-c-para{
        font-size: medium;
        width: 90%;
        text-align: center;
       
        margin-top: 1em;
    }

  
    .top-header-title{
        color: #303030;
        text-align: center;
        font-size: x-large;
    }

    .circular-img{
        height: 100%;
    }

    .img-jl{
        filter: brightness(0) invert(1);
    }
}

@media only screen and (min-width: 1024px){
   .job-wrapper{
       height: 100%;
       width: 100%;

   }

   .scroller{
       width: 80%;
       padding-bottom: 2em;
       margin-left: 10%;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
   }

   .job-card-wrapper{
    margin-top: 1em;
    width: 25vw;
    height: 90vh;
    margin-left: 1em;
    background-color: rgb(216, 214, 214);
    display: grid;
    grid-template-rows: 82% 18%;
    box-shadow: -1px 2px 8px 4px rgba(31, 27, 27, 0.2);

   }

   .top-card{
    grid-row: 1;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

    
.bottom-card{
    grid-row: 2;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.btn-job{

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:  #303030;
    border: 2px solid #54976a ;
    color: #54976a;
   cursor: pointer;
}

.btn-job:hover{

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:  #202020;
    border: 2px solid #54976a ;
    color: #54976a;
   
}

.img-jl{
    filter: brightness(0) invert(1);
    height: 1em;
}
}