

@media only screen and (min-width: 319px) and (max-width: 1023px){
    .page-wrapper{
        height: 100%;
        width: 100vw;
        box-sizing: border-box;
        background-color: #F3EEED;
    }

    .content-wrapper{
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        padding-top: 8vh;
    }

    .section-1{
        height: 100%;
        width: 100%;

    }

    
    .section-2{
        height: 100%;
        width: 100%;
        margin-top: 2em;
    }

    .media-grid{
        margin-top: 5%;
        height: 40%;
        background-color: whitesmoke;
        display: grid;
    }

    .passion-cta{
        width: 40vw;
        height: 5vh;
        margin-top: 0.7em;
        background-color: #303030;
        color: #1efeff;
        border: 2px solid #1efeff;
        border-radius: 50px;
    }

    .passion-header{
        color: white;

    }

    .passion-para{
        color: whitesmoke;
        font-size: smaller;
        margin-top: 0.7em;
        font-weight: 300;
    }
}




@media only screen and (min-width: 1024px){
    .page-wrapper{
        height: 100%;
        width: 100vw;
        box-sizing: border-box;
        overflow-x: hidden;
        background-color: #F3EEED;
    }

 
}