

@media only screen and (min-width: 319px) and (max-width: 1023px){
    .page-wrapper{
        height: 100%;
        width: 100vw;
        box-sizing: border-box;
        overflow-x: hidden;
  background-color: #d0d0d0;
    }

    .sticky-warning{
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.715);
    }
 
    .warning-card{
        height: 100vh;
        width: 80vw;
        margin-left: 10%;
        background-color: rgb(94, 87, 87);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  

    .dropdown-menu{
        width: 100vw;
        height: 0%;
        position: fixed;
        top: 6vh;
        left: 0;
        z-index: 2;
        transition: 1s;
    }

    .content-wrapper{
        height: 100%;
        width: 100vw;
        box-sizing: border-box;
        padding-top: 6vh;
    }

    .section-1{
        height: 100%;
        width: 100%;
        overflow-x: hidden;
       
       
    }

    
    .section-2{
        height: 100%;
        width: 100%;
        margin-top: 2em;
        overflow-x: hidden;
       
       
    }

    
    .section-3{
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }
   

    .media-grid{
        margin-top: 5%;
        height: 45%;

        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5em;
        box-sizing: border-box;
        padding: 1em;
    }

   
    #invisible{
        display: none;
    }
    
    #message-sent{
        height: 100vh;
        width: 100vw;
        background-color: #303030;
        border: 2px solid #1efeff;
        position: absolute;
        top: 0;
        z-index: 5;
        padding: 2em;
     
    }

    .contact-status-img{
        margin-left: 22%;
        margin-top: 2em;
        height: 8em;
        padding-left: 1.5em;
        filter: brightness(0) invert(1);
    }


    .contact-header-announcement{
        margin-top: 1em;
        color: aliceblue;
        text-align: center;
        font-size: large;
    }

   
    .mailing-bar{
        width: 100vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #096b54;
    }
}




@media only screen and (min-width: 1024px){
    .page-wrapper{
        height: 100%;
        width: 100vw;
        box-sizing: border-box;
        overflow-x: hidden;
        background-color: #303030;
    }

    
    .content-wrapper{
        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }

   #mobile-only{
       display: none;
   }

   .desktop-about-contact{
       margin-top: 1em;
       width: 100%;
       height: 96vh;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
   }

   .about-contact{
 
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 80% 20%;
    
}

   .talents-row{
       grid-column: 1/3;
       grid-row: 2/3;
       background-image: linear-gradient(rgb(31, 31, 31), rgb(19, 19, 19)) ;
   }

   .about-img{
       grid-row: 1;
       grid-column: 1;
       background-image: url('https://i.imgur.com/KhuIEEk.jpg?2');
       opacity: 0.9;
       background-size: cover;
       border-right: 5px solid rgb(26, 26, 25);
   }

   #invisible{
       display: none;
   }

   .intro-about-section{
       padding-top: 3em;
       padding-left: 1em;
   }

   .intro-about-title{
       color: rgba(255, 255, 255, 0.742);
       font-size: xx-large;
   }

   .sticky-warning{
       position: fixed;
       z-index: 100;
       top: 0;
       left: 0;
       height: 100vh;
       width: 100vw;
       background-color: rgba(0, 0, 0, 0.715);
   }

   .warning-card{
       height: 100vh;
       width: 60vw;
       margin-left: 20%;
       background-color: rgb(216, 216, 216);
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }

  

   .mailing-bar{
    width: 100vw;
    height: 20vh;
    margin-top: 1em;
    background-color: #096b54;
}
}