@media only screen and (max-width: 1023px){
    .social-link-wrapper{
        width: 100%;
        height: 15vh;
        margin-top: 0.7em;
     background-color: rgb(55, 55, 55);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 1em;
    }

    .circular-img-link{
        background-image: url();
        height: 30vw;
        width: 30vw;
        margin-left: 35vw;
        border: 1px solid rgba(255, 255, 255, 0.586);
        border-radius: 50%;
        margin-top: 2em;
        background-image: url('https://i.imgur.com/s9rOg3o.jpeg');
        background-size: cover;
    }

    .social-titles{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-right: 2em;
        width: 60vw;
    }

    .link-link{
        display: flex;
        align-items: center;
        border: 3px solid #0d9a79;
        border-radius: 50%;
        height: 9vh;
        width: 9vh;
    }

    .link-im{
        height: 8vh;
        width: 8vh;
        filter: brightness(0) invert(1);  
        opacity: 0.5;    
    }

    .head-s-1{
        color: rgba(255, 255, 255, 0.837);
        font-size: medium;
        text-align: left;
    }

    .head-s-2{
        color: rgba(255, 255, 255, 0.667);
        margin-left: 2em;
        font-size: x-small;
        font-weight: 200;
    }

    .link-header{
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        color: rgba(252, 252, 252, 0.769);
        font-size: x-small;
    }

    .link-header2{
        margin-top: 1em;
        text-align: center;
        font-size: xx-large;
        color: #0d9a79;
    }
    .social-link-container{
        background-color: #303030;
    }
}

@media only screen and (min-width: 1024px){

    .social-link-container{
        background-color: #303030;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 1em;
        width: 50vw;
    }

    .social-link-wrapper{
        width: 80%;
        padding: 1em;
        background-color: rgb(9, 107, 84);
        border-bottom: 2px solid rgb(65, 64, 64);
        display: flex;
        flex-direction: row;
    }

    .link-im{
        filter: brightness(0) invert(0.1);
        height: 2vw;
        width: 2vw;
        transition: 0.3s;
    }

    .link-link{
        border: 2px solid rgb(29, 28, 28);
        width: 3.5vw;
        height: 3.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        transition: 0.3s;
    }

    .link-link:hover{
       
        width: 3.5vw;
        height: 3.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }

    .circular-img-link{
        background-image: url();
        height: 20vh;
        width: 20vh;
        border: 1px solid rgb(9, 107, 84);
        border-radius: 50%;
        margin-top: 2em;
        background-image: url('https://i.imgur.com/s9rOg3o.jpeg');
        background-size: cover;
    }

    .link-im:hover{
        filter: brightness(0) invert(1);
        height: 2.5vw;
        width: 2.5vw;
        
    }


    .social-titles{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 25vw;
        justify-content: space-between;
        color: rgba(255, 255, 255, 0.64);
    }


    .head-s-1{
        color: rgba(255, 255, 255, 0.837);
        font-size: medium;
        margin-left: 2em;
        text-align: left;
    }

    .head-s-2{
        color: rgba(255, 255, 255, 0.667);
   
        font-size: small;
        font-weight: 200;
    }

    .link-header{
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: small;
        color: rgba(192, 192, 192, 0.81);
    }

    .link-header2{
        margin-top: 1em;

        font-size: xx-large;
        color: rgb(20, 153, 122);

    }
}