@media only screen and (max-width: 1023px){
    .contact-form-wrapper{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows:  15% 85%;
       
    }

    .contact-options{
        grid-row: 1;
        height: 100%;
        width: 100%;
        background-color: #303030;
        display: flex;
        flex-direction: column;
        padding-top: 0.7em;
    }

    .contact-form{
        grid-row: 2;
        background-color: #303030;
     
    }

    #contact-form{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 10% 10% 70% 10%;
        box-sizing: border-box;
        padding: 0.5em;
        
    }

    input{
        width: 90%;
        height: 80%;
        margin-left: 5%;
        margin-top: 1em;
        color: white;
        background-color: #303030;
        border: 2px solid white;
        box-sizing: border-box;
        box-sizing: border-box;
        padding: 0.5em;
        border-radius: 10px;
    }

    textarea{
        width: 90%;
        height: 80%;
        margin-left: 5%;
        margin-top: 1.5em;
        background-color: #303030;
        border: 2px solid white;
        box-sizing: border-box;
        padding: 1em;
        color: white;
        border-radius: 10px;
    }
   
    #submit-btn{
        margin-top: -1em;
        border-radius: 50px;
        padding: 0%;
        border: 2px solid #1efeff;
        color: #1efeff;
    }

    .contact-option{
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-y: hidden;
    }

    .circle-option{
        height: 2.2em;
        padding-left: 1.5em;
        filter: brightness(0) invert(1);
    }

    .email-option{
        margin-left: 1em;
        color: white;
        font-weight: 300;
    }

    .phone-option{
        margin-left: 1em;
        color: #1efeff;
        font-weight: 300;
    }
}

@media only screen and (min-width: 1024px){
    .contact-form-wrapper{
        height: 100vh;
        width: 100%;
        background-color: #303030;
       
    }

    .contact-form{
        height: 60vh;
        width: 40vw;
    
        margin-left: 30vw;
    }

    #contact-form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    input{
        width: 80%;
        margin-top: 1em;
        margin-left: 10%;
        height: 4vh;
        background-color: #303030;
        border: 2px solid white;
        box-sizing: border-box;
        padding: 0.5em;
        color: #1efeff;
      
    }

    textarea{
        width: 80%;
        margin-top: 1em;
        margin-left: 10%;
        height: 60%;
        background-color: #303030;
        border: 2px solid white;
        box-sizing: border-box;
        padding: 0.5em;
        color: white;
       
    }

    #submit-btn{
        height: 7vh;
        border-radius: 50px;
        color: #1efeff;
        border: 2px solid #1efeff;
    }
    
    .contact-options{
        margin-left: 33%;
  
        width: 30%;
        box-sizing: border-box;
        padding: 1em;
    }

    .contact-option{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    .phone-option{
        margin-left: 1em;
    }

    .email-option{
        margin-left: 1em;
    }

    .circle-option{
        width: 3vw;
        height: 3vw;
        filter: brightness(0) invert(1);
    }
}