@media only screen and (max-width: 1023px){
    .contact-form-wrapper{
        height: 100%;
        width: 100%;
        padding: 1em;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 4em;
        border-bottom: 2px solid white;
     
    }


    #contact-form{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        padding-top: 2em;
        border-bottom: 2px solid rgba(160, 154, 154, 0.191);
        padding-bottom: 2em;
    }   
    
    input{
        margin-left: 10%;
        width: 80%;
        height: 4vh;
        margin-top: 0.5em;
        border-radius: 10px;
        color: rgba(255, 255, 255, 0.837);
        border: 1px solid #eb3340;
        background-color: #3c3c3cdb;
        outline: none !important;
        padding: 1em;
       
    }

    label{
        color: rgba(223, 197, 197, 0.518);
        margin-left: 10%;
        box-sizing: border-box;
        margin-top: 1em;
        border-top: 1px solid rgba(255, 255, 255, 0.259);
        width: 80%;
        padding-top: 1em;
        text-align: left;
        font-size:small;
    }

    textarea{
        margin-left: 10%;
        margin-top: 1em;
        height: 30vh;
        box-sizing: border-box;
        padding: 1em;
        width: 80%;
        border: 1px solid #eb3340;
        background-color: #3c3c3cdb;
        color: rgba(255, 255, 255, 0.837);
        border-radius: 10px;
    }

    select{
        margin-left: 10%;
        margin-top: 0.5em;
        width: 80%;
        height: 4vh;
        background-color: #3c3c3cdb;
        color: rgba(255, 255, 255, 0.837);
        border: 1px solid #eb3340;
        text-align: left;
        border-radius: 10px;
        padding-left: 0.5em;
    }
    
    #submit-btn{
        color: #eb333fb3;
       
        height: 8vh;
        background-color: #303030;
        box-sizing: border-box;
        padding: 0em;
    }

    .newsletter-sign-up{
        margin-top: 0.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin-left: 10%;
    }

    .newsletter-para{
        font-size: xx-small;
        text-align: left;
        width: 200%;
        color: rgba(255, 255, 255, 0.442);
    }
}


/* */

@media only screen and (min-width: 1024px){
    
    .close-contact-btn{
        background-color: rgb(31, 63, 53);
        color: white;
        border: 2px solid white;
        font-weight: 800;
        font-size: large;
        width: 2.4vw;
        height: 2.4vw;
        margin-left: 85%;
    }

    .close-contact-btn:hover{
        background-color: rgb(45, 95, 79);
        color: rgba(255, 255, 255, 0.865);
        border: 2px solid rgba(255, 255, 255, 0.647);
        
    }

    .contact-form{
        box-sizing: border-box;
        padding: 2em;
        height: 100vh;
        width: 100vw;
        position:fixed;
        top: 0;
        z-index: 4;
        background-color:#2424246f;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    #contact-form{
        height: 90vh;
        width: 50%;
        margin-left: 25%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        background-color:  rgb(31, 63, 53);
        border-radius: 5%;
    }

    

    input{
        width: 80%;
        margin-top: 1em;
        margin-left: 10%;
        height: 5vh;
        background-color: #303030;
        color: rgba(255, 255, 255, 0.783);
        border: 2px solid rgba(255, 255, 255, 0.497);
        box-sizing: border-box;
        padding: 0.5em;
      
    }

    textarea{
        width: 80%;
        margin-top: 1em;
        margin-left: 10%;
        height: 70%;
        background-color: #303030;
        color: rgba(255, 255, 255, 0.865);
        border: 2px solid rgba(255, 255, 255, 0.497);
        box-sizing: border-box;
        padding: 0.5em;
       
       
    }

    .newsletter-sign-up{
        display: flex;
        flex-direction: row;
        height: 8vh;
        width: 80%;
        margin-left: 10%;
    }

    #submit-btn{
        height: 5vh;
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.858);
        cursor: pointer;
        border: 2px solid rgba(255, 255, 255, 0.497);
    }

    #submit-btn:hover{
        color: rgba(255, 255, 255, 0.858);
        border: 2px solid rgba(255, 255, 255, 0.667);
        background-color: #575757;
    }
    

    .check{
        height: 3vh;
        margin-top: 1.5em;
    }

    .newsletter-para{
        width: 40vw;
        color: rgb(213, 213, 213);
        font-size: smaller;
        margin-top: 2em;
        font-size: x-small;
    }


    .contact-options{
        margin-left: 33%;
  
        width: 30vw;
        box-sizing: border-box;
        padding: 1em;
    }

    .contact-option{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    .phone-option{
        margin-left: 1em;
    }

    .email-option{
        margin-left: 1em;
    }

    .circle-option{
        width: 3vw;
        height: 3vw;
        filter: brightness(0) invert(1);
    }

    label{
        display: none;
    }

    select{
        height: 5vh;
        width: 80%;
        margin-left: 10%;
        margin-top: 1em;
        background-color: #303030;
        color: rgba(255, 255, 255, 0.497);
        border: 2px solid rgba(255, 255, 255, 0.497);
    }
}