@media only screen and (max-width: 1023px){
    .navbar-wrapper{
        height: 8vh;
        width: 100vw;
        position: absolute;
        top: 0;
        z-index: 3;
        border-bottom: 3px solid rgb(0, 0, 0);
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-header{
        margin-left: 1em;
        font-weight: bold;
    }

    .navbar-menu{
        margin-right: 1em;
        border: none;
        background-color: white;
    }

    .navbar-img{
        height: 6vh;
    }

    .desktop-nav-only{
        display: none;
    }
}

@media only screen and (min-width: 1024px){
    .navbar-wrapper{
        height: 6vh;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-img{
        height: 0em;
    }

    .navbar-header{
        margin-left: 1em;
    }

    .desktop-nav-only{
        width: 30%;
        margin-right: 1em;
        height: 6vh;
      
     
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navbar-menu{
        display: none;
    }
    
}