@media only screen and (max-width: 1023px){
    .navbar-wrapper{
        height: 6vh;
        width: 100vw;
        position:fixed;
        top: 0;
        z-index: 4;
        border-bottom: 3px solid rgba(153, 153, 153, 0.565);
        background-color:#242424;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: content-box;
        z-index: 2;
    }

    .navbar-header{
        margin-left: 1em;
        font-weight: bold;
    }

    .navbar-menu{
        margin-right: 1em;
        border: none;
        background-color: #242424;
    }

    .navbar-img{
        height: 4.5vh;
        filter: brightness(0) invert(0.8);
    }

    .desktop-nav-only{
        display: none;
    }
}

@media only screen and (min-width: 1024px){
    .navbar-wrapper{
        height: 6vh;
        background-color: #202020;

    }

    .navbar-img{
        height: 0em;
    }


    .desktop-nav-only{
        margin-left: 70%;
        width: 25%;
        height: 6vh;
        
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navbar-menu{
        display: none;
    }
    
    .navbar-link{
        color: rgba(255, 255, 255, 0.445);
        font-size: smaller;
    }

    #highlight{
        border-bottom: 3px solid rgb(65, 155, 126);
        color: rgba(255, 255, 255, 0.845);
        font-size: smaller;
    }
}