@media only screen and (max-width: 1023px){
    .footer-wrapper{
        height: 100%;
        width: 100%;
        background-color: #303030;
        overflow-x: hidden;
        flex-direction: column;
        display: flex;
    }

    .site-map{
        height: 50vh;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        width: 95vw;
        padding-left: 1em;
    }

    .support-me{
        height: 50vh;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        width: 95vw;
        padding-left: 1em;
    }

    .support-header{
        color: rgb(230, 227, 227);
        font-size: large;
    }

    .support-para{
        font-size: x-small;
        margin-top: 1em;
        width: 80%;
        color: rgba(255, 255, 255, 0.537);
    }

    .support-me-btn{
        width: 50vw;
        height: 7vh;
        margin-top: 2em;
        background-color: #303030;
        border: 2px solid white;
        color: white;
    }

    .support-me-btn:hover{
       
        background-color: #3d3c3c;
        border: 2px solid rgb(189, 171, 171);
        color: white;
    }

    .footer-privacy{
        height: 10vh;
        background-color: #1d1d1d;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 1em;
        justify-content: left;
    }

    .privacy{
        color: rgba(255, 255, 255, 0.627);
        margin-left: 1em;
        height: 10vh;
        font-size: small;
    }
}

@media only screen and (min-width: 1024px){
    .footer-wrapper{
        height: 60vh;
        width: 100%;
        background-color: rgb(26, 25, 25);
        overflow-x: hidden;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 90% 10%;
    }

    .footer-privacy{
        grid-row: 2;
        grid-column: 1/4;
        background-color: #1d1d1d;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }

    .privacy{
        color: rgba(255, 255, 255, 0.627);
        margin-left: 3em;
        font-size: small;
    }


    .support-me{
        margin-top: 3em;
        padding-left: 1em;
      
        height: 70%;
        display: flex;
        flex-direction: column;
    }

    .site-map{
        margin-top: 3em;
        padding-left: 1em;
        
        height: 70%;
        display: flex;
        flex-direction: column;
    }

    .support-header{
        color: rgb(230, 227, 227);
        font-size: xx-large;
    }

    .support-para{
        margin-top: 1em;
        font-size: small;
        height: 5em;
        width: 75%;
        color: rgba(255, 255, 255, 0.537);
    }

    .support-me-btn{
        width: 15vw;
        height: 5vh;
        margin-top: 1em;
        background-color: #303030;
        border: 2px solid white;
        color: white;
    }

    .support-me-btn:hover{
        width: 15vw;
        height: 5vh;
        background-color: #3d3c3c;
        border: 2px solid rgb(189, 171, 171);
        color: white;
    }
}