*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: auto;
}

img{
  height: 5vh;
}

button{
  cursor: pointer;
}

#root{
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0.7em;
  z-index: 1;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(31, 63, 53);
  outline: 1px solid #061a09;
}